@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Open+Sans&family=Oswald:wght@300;400&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}

.logo{
    height: 50px;
    width: 113px;
    margin: 0 1px 0 5px;
    padding: 0 10px 0 0;
}

.logo img
{
    height: 50px;
    width: 100%;
    background-size: cover;
    padding-top: 3px;
}

.nav-addres{
    cursor: pointer;
    margin: 0 1px;
    padding: 5px 9px;
}

.af{
    color: #cccccc;
    font-size: 0.65rem;
    margin-left: 15px;
}

.aicon{
    display: flex;
    align-items: center;
}

.as{
    font-size: 0.85rem;
    margin-left: 5px;
    font-weight: 900;
}

.select{
    display: flex;
    width: 635px;
    height: 40px;
    border-radius: 4px;
    margin: 0 9px;
}

.option{
    width: 55px;
    background-color: #e6e6e6;
    padding-left: 5px;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
    border: none;
    cursor: pointer;
}

.option:hover{
    background-color: #cfc8c8;   
}

.input{

    width: 100%;
    font-size: 1rem;
    padding-left: 5px;
    border: none;
}

.icon{
    display: flex;
    background-color:#febd68 ;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    color: #0F1111;
    font-size: 1.2rem;
}

.icon:hover{
    background-color: #faab42;   
}

.nav-lang{
    display: flex;
    margin: 10px 1px 5px;
    padding: 10px 9px;
}

.nav-lang .lselect{
    background-color: #0F1111;
  color: white;
  border: none;
  font-size: 0.95rem;
  font-weight: 900;
  border: none;
}

.sign{
    margin: 5px 1px ;
    padding: 5px 7px;
}

.sign .p1{
    font-size: 0.75rem;
    margin-left: 4px;
}

.sign .sselect
{
    background-color: #0F1111;
  color: white;
  border: none;
  font-size: 0.95rem;
  font-weight: 900;
  border: none;
}

.order{
    margin: 10px 1px;
    padding: 5px 9px;
}

.order .p1{
    font-size: 0.75rem;
}

.order .p2{
    font-size: 0.95rem;
  font-weight: 800;
}

.nav-cart{
    margin: 0 1px;
    padding: 9px;
    font-weight: 800;
}
.nav-cart i{
    font-size: 25px;
}

/* Second Bar */
.panel{
    display: flex;
    height: 40px;
    background-color: #232f3e;
    color: white;
    align-content: center;
}

.pmenu
{
    display: flex;
    align-content: center;
    padding: 9px 9px;
    font-size: 0.85rem;
    font-weight: 700;
}

.pmenu i{
    font-size: 20px;
    padding-right: 5px;
}

.poption{
    display: flex;
    justify-content: center;
    align-content: center;
}

.poption span{
    font-size: 0.89rem;
    font-weight: 500;
    padding: 9px 8px ;
}

/* main */
main
{
    background-color: #d0c9c9;
}
.hero-section{
    height: 450px;
    background-image: url("hero_image.jpg");
    background-size: cover;
}

.card{
    display: flex;
    /* justify-content: space-evenly; */
    position: relative;
    bottom: 227px;
    margin-top: 15px;
}

.cards{
    height: 400px;
    width: 22%;
    background-color: #ffffff;
    padding: 20px 0 0 15px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    overflow: hidden;
    margin: 0 13px;
}

.cards h1{
    font-size: 1.3rem;
    font-weight: 700;
}

.card-content{
    display: flex;
}

.card-item{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    padding: 10px 0;
    margin: 5px 0;
    font-size: 0.85rem;
}

.card-item img{
    height: 120px;
    width: 150px;
}

.card p a{
    text-decoration: none;
}
.carditems{
    overflow: hidden;
    
}
.carditems img{
    position: relative;
    right:40px ;
    height: 300px;
    width: 330px;
    margin: 5px 0 25px 0;
}

.box{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.bsign{
    height: 150px;
    background-color: white;

}

.bsign .par{
    height: 35px;
    width: 80%;
    background-color: rgb(255, 196, 0);
    border-radius: 7px;
    margin: 20px 15px;
    text-align: center;
    font-size: 1rem;
}

.bsign .par:hover{
    background-color: rgb(184, 138, 1);
    border-radius: 7px;
}

.bship img{
    position: relative;
    right: 15px;
    width: 300px;
}

.main-end{
    position: relative;
    bottom: 130px;
    height: 175px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-end .mend{
    height: 130px;
    width: 100%;
    border: 0.1px solid #DDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
}

.main-end .mend .msign{
    height: 28px;
    width: 230px;
    background-color: #ff9100;
    color: black;
    text-align: center;
    font-weight: 900;
    text-shadow: 0 1px 0 #ffe093;
    font-size: 1rem;
    line-height: 28px;
    border-radius: 8px;
}

.mend .msign:hover{
    cursor: pointer;
}
.mend p{
    font-size: 0.80rem;

}

.mend p a{
    text-decoration: none;
    color: #007185;
}

.mend p a:hover{
    cursor: pointer;
}
/* Footer */

footer{
    position: relative;
    background-color: #131A22;
}
.top{
    display: flex;
    height: 49px;
    background-color: #37475a;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    position: relative;
    bottom: 130px;
}

.panel-2
{
    height: 370px;
    background-color: #232f3e;
    /* width: 1000px; */
}

.second-footer{
    display: flex;
    background-color: #232f3e;
    height: 400px;
    position: relative;
    bottom: 130px;
    justify-content: space-evenly;
}

.second-footer ul{
    text-decoration: none;
    color: white;
    margin-top: 40px;
}

.second-footer ul p{
    display: block;
    font-weight: 800;
    font-size: 1rem;
    margin: 6px 0 14px;
}

.second-footer ul a{
    display: block;
    font-size: 0.90rem;
    text-decoration: none;
    color: #DDD;
    padding-bottom: 9px;
}

.second-footer ul a:hover{
    text-decoration: underline;
}

.space{
    bottom: 130px;
    position: relative;
    border-top: 1px solid #3a4553;
}

.third-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 120px;
    margin: 10px auto;
    height: 70px;
}

.third-footer .flogo{
    height: 60px;
    width: 100px;
    background-image: url("logo.png");
    background-size: cover;
    margin-right: 75px;
}

.third-footer .box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 440px;
    height: 45px;
}

.box .boxes{
    display: flex;
    /* width: 140px; */
    height: 35px;
    border: 1px solid #848688;
    border-radius: 4px;
    align-items: center;
    color: #cccccc;
}

.box .boxes i{
    padding : 0 5px ;
    color: white;
}

.box .boxes #i1{
    height: 12px;
    color: #cccccc;
    padding-bottom: 3px;
}
.box .boxes p{
    font-size: 0.90rem;
    padding: 0 14px 0 8px;
}

.panel-3{
    background-color: #131A22;
    height: 363px;
    padding-top: 10px;
}

.panel-3 .c1{
    margin: 15px 0 10px 0;
    height: 70px;
    display: flex;
    justify-content: center;
}

.panel-3 .c1 .cont{
    /* box-sizing: border-box; */
    height: 60px;
    width: 120px;
    /* padding: 0 5px; */
    margin: 0 15px;
}

.panel-3 .c1 .cont5{
    width: 165px;
}

.panel-3 .c1 .cont h1{
    line-height: 14px;
    padding: 0 10;
    font-size: 0.75rem;
    font-weight: 500;
    color: #dddddd;
}

.panel-3 .c1 .cont h1:hover{
    text-decoration: underline;
    cursor: pointer;
}

.panel-3 .c1 .cont p{
    padding: 0 10;
    font-size: 0.75rem;
    line-height: 14px;
    color: #999999;
}

.panel-3 .c1 .cont p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.last-panel{
    box-sizing: border-box;
    height: 78px;
    padding: 10px 0 30px;
    color: #DDDddd;
    font-size: 0.75rem;
}

.last-panel ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.last-panel ul li{
    list-style: none;
   margin: 0 8px;
   line-height: 20px;
}

.last-panel ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.last-panel p{
    text-align: center;
}